@font-face {
	font-family:"FiraSans";
	src:url('https://googledrive.com/host/0B9eg--J_DWtbTTJuMGNralRmN1E/FiraSans-Light.woff') format('woff')
}

@font-face {
	font-family:'typicons';
	src:url("typicons.font/src/font/typicons.eot");
	src:url("typicons.font/src/font/typicons.woff") format('woff'),url("typicons.font/src/font/typicons.ttf") format('truetype'),url("typicons.font/src/font/typicons.svg") format('svg');
	font-weight:normal;
	font-style:normal
}


* {
	box-sizing:border-box;
	padding:0;
	margin:0
}

[class*="col-"] {
	float:left
}

.col-1 {width:8.33%}
.col-2 {width:16.66%}
.col-3 {width:25%}
.col-4 {width:33.33%}
.col-5 {width:41.66%}
.col-6 {width:50%}
.col-7 {width:58.33%}
.col-8 {width:66.66%}
.col-9 {width:75%}
.col-10 {width:83.33%}
.col-11 {width:91.66%}
.col-12 {width:100%}

body {
	font-family: 'FiraSans', sans-serif;
 	font-size: 15px;
	background-color:#e1f5fe;
	overflow-x:hidden;
}

header {
	height:50px;
	background-color:#b3e5fc;
	box-shadow:0 2px 2px #888;
	position:relative
}

header h1 {
	display: inline-block;
	font-family: 'Lobster', cursive;
	margin: 5px 0 7px 9%;
}

header nav {
	float:right;
	margin:15px 13% 15px 0
}

a {
	color:initial;
}

a:hover {
	cursor: pointer;
}

.active {
	color:blue;
	font-weight: bold;
}

header ul li {
	display:inline;
	padding:0 5px
}

header ul li .link {
	font-size: 16px;
	text-decoration: none;
}

section {
	height: 550px;
}

small {
	font-size: 6px;
}

#container {
	height: 300px;
	overflow: hidden;
	border-top: 1px #ACE5FF solid;
	border-bottom: 1px #ACE5FF solid;
	margin: 100px 0;
	position: relative;
	background-image: url("../images/background.jpg");
	background-position: repeat;
}

#menu {
	position: absolute;
	bottom:0;
	left:48%;
}

#menu li {
	display: inline-block;
	border-radius: 50%;
	width: 12px;
	height: 12px;
	margin: 3px;
	background-color: white;
}

#menu li a {
	position: absolute;
	border-radius: 50%;
	border-color: #155775;
	border-width: 3px;
	width: 12px;
	height: 12px;
}

.activeDot {
	border-style: solid;
}

#menu li input {
	cursor: pointer;
}


.slider {
	color: black;
	height: 300;
	position: absolute;
	left: 100%;
	transition: all 2s ease-in-out;
}



.slider h2 {
	font-family: 'Lobster', cursive;
	margin: 10px 0px 20px 30px;
}

.slider span {
	margin: 30px 0px 20px 70px;
	padding-right: 30px;
}

.slider img {
	max-width: 20%;
	position:absolute;
	top:12%;
}

footer {
	background-color: #e1f5fe;
}

#line {
	height: 1px;
	margin: 15px 10% 10px 10%;
	background-color: #bebebe;
}

footer #content {
	padding: 0 10%;
	color: #8b8b8b;
}

footer #content #icon {
	margin: 0 0px 0px 50%;
	border-width: 1.5px;
	border-style: solid;
	border-radius: 20px;
	border-color: #8B8B8B;
}

footer #content #copyright {
	padding: 8px 0;
	position: absolute;
}

footer a {
	color: #8b8b8b;
}

footer #content .social {
	font-size: 1.8em;
	display: inline;
	float:right;
	transition: all 0.3s ease-in-out;
}

.mario:hover {
	color: #e8c447;
	transition: all 0.3s ease-in-out;
}

.daniel:hover {
	color: #1de9b6;
	transition: all 0.3s ease-in-out;
}

